.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #171c24
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    font-size: 1rem;
    color: #bfc6cb;
}
.container{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.link{
    text-decoration: none;
    background-color: #03060b;
    margin: .5rem auto;
    padding: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: all .1s ease-in-out;
    width: 400px;
    justify-content: center;
}

.link:hover{
    transform: scale(1.01);

}

